@charset "UTF-8";
.navbar {
  height: 70px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #3B7271; }

.boutonMenu {
  background-color: #00a8b2;
  border-radius: 5px;
  font-size: 0.7em;
  color: white !important;
  margin-right: 10px; }

.ongletMenu {
  color: #00a8b2 !important;
  font-size: 0.8em; }

.logoMenu {
  width: 200px; }

/* mediaqueries MenuHamburger
*/
@media (max-width: 768px) {
  .menuBurger {
    background-color: white;
    z-index: 10; }

  .boutonMenu {
    background-color: white;
    color: #3B7271 !important;
    font-weight: bold;
    font-size: 0.8em; } }
.footer {
  background-color: #00a8b2;
  color: white;
  text-align: center;
  font-size: 0.8em; }

.socialMedia {
  text-decoration-line: none !important;
  color: #3B7271 !important; }
  .socialMedia :hover {
    color: white !important; }

.linksHome {
  text-decoration-line: none !important;
  color: white !important; }
  .linksHome :hover {
    color: #3B7271 !important; }

.linkMailto {
  text-decoration-line: none !important;
  color: white !important; }
  .linkMailto :hover {
    color: #3B7271 !important; }

/* mediaqueries footer
*/
@media (max-width: 768px) {
  .mediaQueries {
    display: none; }

  .contentFooter {
    font-size: 1.2em;
    color: #3B7271; }

  .linkMailto {
    font-size: 1.2em; } }
.bgImage {
  background-image: url("../images/Bg_homePage.jpg");
  background-size: cover; }

.vue {
  height: 75vh; }

.accrocheHome {
  font-size: 1.8em;
  margin: 20px;
  color: white;
  text-align: center; }

.animation {
  animation-name: slideInLeft;
  animation-duration: 1.5s;
  transition: ease-in; }

.cta {
  background-color: #00a8b2;
  padding: 10px 30px;
  font-size: 1.2em;
  color: white;
  border-radius: 10px;
  width: 250px;
  text-decoration-line: none !important; }

.cta:hover {
  color: #00a8b2;
  background-color: white; }

.bandeauHome {
  background-color: white;
  font-size: 1em;
  color: #00a8b2;
  text-align: center; }

.bandeauPromo {
  background-color: #00a8b2;
  width: 100%;
  color: white;
  font-size: 1.2em;
  text-align: center; }

.boxArticle {
  text-align: center;
  color: #00a8b2; }

.boxImg {
  height: 200px;
  width: 300px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 20px; }

.titleArticle {
  font-weight: bold;
  font-size: 1.1em; }

.spanArticle {
  font-size: 0.8em;
  color: #3B7271; }

.extractArticle {
  width: 300px;
  margin: 0 auto; }

/* mediaqueries homePage
*/
h1::before {
  content: 'Vous avez besoin de vous faire connaître ? Vous voulez être présent sur le Web?'; }

@media (max-width: 768px) {
  h1::before {
    content: 'Vous voulez être présent sur le Web?'; }

  .col-lg-4 {
    padding: 10px; } }
.vueForm {
  height: 82vh; }

.borderForm {
  border-style: solid;
  border-color: #00a8b2;
  border-radius: 5px;
  border-width: 1px;
  padding: 20px; }

.titleLoginForm {
  color: #3B7271;
  font-size: 1em;
  text-align: center; }

.labelContactForm {
  color: #00a8b2;
  padding: 5px;
  width: 200px; }

.widgetContactForm {
  height: 30px;
  width: 300px; }

.boutonConnexion {
  height: 30px;
  width: 100px;
  color: #00a8b2;
  border-style: solid;
  border-color: #00a8b2;
  border-radius: 5px;
  margin-top: 20px;
  justify-content: center; }

.boutonConnexion:hover {
  background-color: #00a8b2;
  color: white; }

.boutonInscription {
  background-color: #00a8b2;
  margin: 0 auto;
  height: 30px;
  padding-top: 2px;
  width: 200px;
  color: white !important;
  border-style: solid;
  border-width: 1px;
  border-color: #00a8b2;
  border-radius: 5px;
  text-decoration-line: none !important;
  text-align: center; }
  .boutonInscription a {
    text-decoration-line: none;
    color: white; }

.boutonInscription:hover {
  background-color: white; }
  .boutonInscription:hover a {
    color: #00a8b2 !important; }

.forgetPassword {
  font-size: small;
  text-align: center;
  padding-bottom: 20px; }
  .forgetPassword a {
    color: #3B7271; }

.boutonRegister {
  margin: 20px auto;
  height: 30px;
  padding-top: 2px;
  width: 200px;
  color: #00a8b2 !important;
  border-style: solid;
  border-width: 1px;
  border-color: #00a8b2;
  border-radius: 5px;
  text-decoration-line: none !important;
  text-align: center; }
  .boutonRegister a {
    text-decoration-line: none;
    color: #00a8b2; }

.boutonResetPassword {
  height: 30px;
  width: 250px;
  color: #00a8b2;
  border-style: solid;
  border-color: #00a8b2;
  border-radius: 5px;
  margin-top: 20px;
  justify-content: center; }

.boutonResetPassword:hover {
  background-color: #00a8b2;
  color: white; }

.iconPlane {
  color: #00a8b2;
  margin-bottom: 20px; }

.contentCheckemail {
  color: #3B7271;
  text-align: center;
  width: 600px; }

.boutonReset {
  height: 30px;
  width: 200px;
  color: #00a8b2;
  border-style: solid;
  border-color: #00a8b2;
  border-radius: 5px;
  margin-top: 20px;
  justify-content: center; }

.boutonReset:hover {
  background-color: #00a8b2;
  color: white; }

/* mediaqueries Form
*/
@media (max-width: 768px) {
  .vueForm {
    height: auto !important; } }
.bandeauBlog {
  border-bottom: solid;
  border-width: 1px;
  border-color: #3B7271;
  background-image: url("../images/BandeauBlog.jpg");
  background-size: cover;
  height: 150px; }

.titleBlog {
  font-size: 1.8em;
  color: #3B7271; }

.subTitleBlog {
  font-size: 1em;
  color: #3B7271;
  margin-left: 100px; }

.bigBox {
  padding-right: 30px;
  border-right: 1px solid #00a8b2; }

.box {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: solid;
  border-bottom-color: #00a8b2;
  border-bottom-width: 1px; }

.titleArticleBlog {
  font-size: 1.1em;
  color: #00a8b2; }

.readMore {
  color: #00a8b2;
  font-size: 1.1em; }

.readMore:hover {
  color: #3B7271; }

.sideBar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-color: #3B7271;
  border-bottom-width: 5px;
  border-bottom-style: double;
  color: #00a8b2;
  font-size: 0.9em; }

.titreSidebar {
  color: #3B7271;
  text-align: center; }

.pagination {
  font-size: 0.8em;
  float: right;
  margin-top: 5px; }

.current {
  padding: 3px 8px;
  margin-left: 5px;
  background-color: #00a8b2;
  color: white;
  text-align: center; }

.inactive {
  padding: 3px 8px;
  margin-left: 5px;
  color: #555;
  background-color: #f3f3f3;
  text-decoration-line: none !important; }

.inactive:hover {
  color: white !important;
  background-color: #00a8b2 !important; }

.input-group.md-form.form-sm.form-2 {
  border: 1px solid #00a8b2;
  border-radius: 0.25em; }

.input-group-text {
  background-color: #00a8b2 !important; }

.fa.fa-search {
  color: white; }

.linksBlog {
  text-decoration-line: none !important;
  color: #00a8b2 !important;
  font-size: 0.9em; }

.linksBlog:hover {
  color: #3B7271 !important; }

.imgBlogSidebar {
  width: 50px; }

.titleSidebar {
  color: #3B7271;
  font-weight: bold; }

/* mediaqueries Blog
*/
@media (max-width: 768px) {
  .subTitleBlog {
    margin-left: 50px; }

  .bigBox {
    padding-right: 0;
    border-right: none; }

  .box {
    text-align: center; }

  .moduleMobile {
    display: none; }

  .sideBar {
    border-top-color: #3B7271;
    border-top-width: 5px;
    border-top-style: double;
    border-bottom-style: none; } }
.returnPage {
  color: #00a8b2; }

.returnPage:hover {
  color: #3B7271; }

.articleDetailBorder {
  border-style: solid;
  border-color: #00a8b2;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 20px; }

.boxImgArticle {
  height: 250px;
  width: 350px;
  object-fit: cover; }

.articleDetailTitle {
  font-size: 1.4em;
  color: #00a8b2; }

.spanArticleDetail {
  font-size: 0.9em;
  color: #3B7271;
  border-bottom: solid;
  border-bottom-color: #3B7271;
  border-bottom-width: 1px; }

.articleDetailContent {
  padding: 15px;
  margin-top: 10px; }

.articleDetail {
  padding-top: 160px; }

/* mediaqueries Article
*/
@media (max-width: 768px) {
  .articleDetail {
    padding-top: 0; }

  .boxImgArticle {
    width: 330px; } }
.boxService {
  text-align: center;
  padding: 20px; }

.boxService:hover {
  background-color: #00a8b2; }

.titleService {
  color: #3B7271; }

/** mediaqueries Services
*/
@media (max-width: 768px) {
  .boxService {
    background-color: #00a8b2;
    margin-bottom: 10px; }

  .boxImg {
    width: 260px; } }
.boxExpert {
  height: 200px;
  border-bottom: solid;
  border-right: solid;
  border-right-color: #00a8b2;
  border-right-width: 1px;
  border-bottom-color: #00a8b2;
  border-bottom-width: 1px; }

.iconExpert {
  text-align: center;
  color: #00a8b2;
  align-self: baseline; }

.contentExpert {
  text-align: justify;
  color: #595959;
  font-size: 0.95em; }

.titleExpert {
  color: #3B7271;
  font-size: 1.3em; }

.iconArrow {
  color: #00a8b2; }

/* mediaqueries Experts
*/
@media (max-width: 768px) {
  .boxExpert {
    height: auto;
    margin: 10px; }

  .titleExpert {
    font-size: 1.2em; }

  .iconExpert {
    display: none; }

  .fontSizeMobile {
    font-size: 0.9em; } }
.bandeauConsultMinute {
  height: 90px;
  padding: 25px; }

.BgImgConsultMinute {
  background-image: url("../images/conseilMinute.jpg");
  background-size: cover; }

.fullContent {
  height: 200px;
  width: 350px;
  text-align: center;
  border-bottom-style: solid;
  border-color: #00a8b2;
  border-width: 1px; }

.lastFullContent {
  height: 200px;
  width: 350px;
  text-align: center; }

.emptyContent {
  height: 200px;
  width: 350px; }

.rightBorder {
  border-right: 1px solid #00a8b2; }

.bigBorder {
  border-style: solid;
  border-color: #00a8b2;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white; }

.colorIcon {
  color: #00a8b2; }

.contentConsultMinute {
  font-size: 1em;
  color: #595959; }

/* mediaqueries ConseilMinute
*/
@media (max-width: 768px) {
  .emptyContent {
    display: none; }

  .rightBorder {
    border-right: none; }

  .fullContent {
    margin: 15px; }

  .lastFullContent {
    margin-left: 15px; } }
.vueForm {
  height: 82vh; }

.borderForm {
  border-style: solid;
  border-color: #00a8b2;
  border-radius: 5px;
  border-width: 1px;
  padding: 20px; }

.iconFont {
  color: #00a8b2;
  margin-bottom: 20px; }

.statusCode {
  color: #00a8b2; }

.contentError {
  color: #3B7271;
  text-align: center;
  width: 600px;
  font-weight: bold; }

.ctaError {
  background-color: white;
  padding: 10px 30px;
  font-size: 1.2em;
  color: #00a8b2;
  border-radius: 10px;
  border-color: #00a8b2;
  border-style: solid;
  border-width: 1px;
  width: 250px;
  text-decoration-line: none !important; }

.ctaError:hover {
  color: white;
  background-color: #00a8b2; }

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

/*# sourceMappingURL=style.css.map */
