@charset "UTF-8";
.navbar {
  height: 70px; }

.boutonMenu {
  background-color: #00a8b2;
  border-radius: 5px;
  font-size: 0.7em;
  color: white !important;
  margin-right: 10px; }

.ongletMenu {
  color: #00a8b2 !important;
  font-size: 0.8em; }

.logoMenu {
  width: 200px; }

.footer {
  background-color: #00a8b2;
  color: white;
  text-align: center;
  font-size: 0.8em; }

.socialMedia {
  text-decoration-line: none !important;
  color: #3B7271 !important; }
  .socialMedia :hover {
    color: white !important; }

.linksHome {
  text-decoration-line: none !important;
  color: white !important; }
  .linksHome :hover {
    color: #3B7271 !important; }

.linkMailto {
  text-decoration-line: none !important;
  color: white !important; }
  .linkMailto :hover {
    color: #3B7271 !important; }

.bgImage {
  background-image: url("../images/Bg_homePage.jpg");
  background-size: cover; }

.vue {
  height: 75vh; }

.accrocheHome {
  font-size: 1.8em;
  margin: 20px;
  color: white;
  text-align: center; }

.cta {
  background-color: #00a8b2;
  padding: 10px 30px;
  font-size: 1.2em;
  color: white;
  border-radius: 10px;
  width: 234px;
  text-decoration-line: none !important; }

.cta:hover {
  color: #00a8b2;
  background-color: white; }

.bandeauHome {
  background-color: white;
  font-size: 1em;
  color: #00a8b2;
  text-align: center; }

.bandeauPromo {
  background-color: #00a8b2;
  width: 100%;
  color: white;
  font-size: 1.2em;
  text-align: center; }

.boxArticle {
  text-align: center;
  color: #00a8b2; }

.boxImg {
  height: 200px;
  width: 300px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 20px; }

.titleArticle {
  font-weight: bold;
  font-size: 1.1em; }

.spanArticle {
  font-size: 0.8em;
  color: #3B7271; }

.extractArticle {
  width: 300px;
  margin: 0 auto; }

/* mediaqueries homePage
*/
h1::before {
  content: 'Vous avez besoin de vous faire connaître ? Vous voulez être présent sur le Web?'; }

@media (max-width: 768px) {
  h1::before {
    content: 'Vous voulez être présent sur le Web?'; }

  .col-lg-4 {
    padding: 10px; } }
.vueForm {
  height: 82vh; }

.borderForm {
  border-style: solid;
  border-color: #00a8b2;
  border-radius: 5px;
  border-width: 1px;
  padding: 20px; }

.labelContactForm {
  color: #00a8b2;
  padding: 5px;
  width: 200px; }

.widgetContactForm {
  height: 30px;
  width: 300px; }

.boutonConnexion {
  height: 30px;
  width: 100px;
  color: #00a8b2;
  border-style: solid;
  border-color: #00a8b2;
  border-radius: 5px;
  margin-top: 20px;
  justify-content: center; }

.boutonConnexion:hover {
  background-color: #00a8b2;
  color: white; }

.boutonInscription {
  margin: 0 auto;
  height: 30px;
  padding-top: 2px;
  width: 200px;
  color: #00a8b2 !important;
  border-style: solid;
  border-width: 1px;
  border-color: #00a8b2;
  border-radius: 5px;
  text-decoration-line: none !important;
  text-align: center; }
  .boutonInscription a {
    text-decoration-line: none;
    color: #00a8b2; }

.boutonInscription:hover {
  background-color: #00a8b2; }
  .boutonInscription:hover a {
    color: white !important; }

.forgetPassword {
  font-size: small;
  text-align: center;
  padding-bottom: 20px; }
  .forgetPassword a {
    color: #3B7271; }

.boutonRegister {
  margin: 20px auto;
  height: 30px;
  padding-top: 2px;
  width: 200px;
  color: #00a8b2 !important;
  border-style: solid;
  border-width: 1px;
  border-color: #00a8b2;
  border-radius: 5px;
  text-decoration-line: none !important;
  text-align: center; }
  .boutonRegister a {
    text-decoration-line: none;
    color: #00a8b2; }

.boutonRegister:hover {
  background-color: #00a8b2;
  color: white !important; }

.boutonResetPassword {
  height: 30px;
  width: 250px;
  color: #00a8b2;
  border-style: solid;
  border-color: #00a8b2;
  border-radius: 5px;
  margin-top: 20px;
  justify-content: center; }

.boutonResetPassword:hover {
  background-color: #00a8b2;
  color: white; }

.bandeauBlog {
  border-top: solid;
  border-bottom: solid;
  border-width: 2px;
  border-color: #3B7271;
  background-image: url("../images/BandeauBlog.jpg");
  background-size: cover; }

.bigBox {
  padding-right: 30px;
  border-right: 1px solid #00a8b2; }

.box {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: solid;
  border-bottom-color: #00a8b2;
  border-bottom-width: 1px; }

.titleArticleBlog {
  font-size: 1.1em; }

.titreBlog {
  font-size: 1.6em;
  color: #3B7271; }

.sideBar {
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom-color: #3B7271;
  border-bottom-width: 5px;
  border-bottom-style: double;
  color: #00a8b2;
  font-size: 0.9em; }

.titreSidebar {
  color: #3B7271;
  text-align: center; }

.pagination {
  font-size: 0.8em;
  float: right;
  margin-top: 5px; }

.current {
  padding: 3px 8px;
  margin-left: 5px;
  background-color: #00a8b2;
  color: white;
  text-align: center; }

.inactive {
  padding: 3px 8px;
  margin-left: 5px;
  color: #555;
  background-color: #f3f3f3;
  text-decoration-line: none !important; }

.inactive:hover {
  color: white !important;
  background-color: #00a8b2 !important; }

.input-group.md-form.form-sm.form-2 {
  border: 1px solid #00a8b2;
  border-radius: 0.25em; }

.input-group-text {
  background-color: #00a8b2 !important; }

.fa.fa-search {
  color: white; }

/*# sourceMappingURL=style.css.map */
