{% extends '@SuperComm/Default/base.html.twig' %}

    {% block title %}<title>Conseil à la minute</title>{% endblock %}



{% block content %}


    <div class="container-fluid BgImgConsultMinute">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <div class="row p-3 bigBorder">


                <div class="col-lg-6 rightBorder">
                    <div class="row fullContent">
                        <div class="col-lg-12"><i class="fas fa-hourglass-half fa-5x colorIcon p-2"></i></div>
                        <div class="col-lg-12">
                            <p class="contentConsultMinute">Nous vous envoyons par mail <b>un questionnaire de moins de 3 minutes</b> afin de préciser votre problématique.
                                Nous pourrons ainsi cibler <b>vos besoins</b>.</p>
                        </div>
                    </div>
                    <div class="row emptyContent">
                        <div class="col-lg-12"></div>
                        <div class="col-lg-12"></div>
                    </div>
                    <div class="row fullContent">
                        <div class="col-lg-12"><i class="far fa-calendar-check fa-5x colorIcon"></i></div>
                        <div class="col-lg-12">
                            <p class="contentConsultMinute">Obtenez un rendez-vous avec votre expert <b>dans la semaine</b>
                                pour une <b>réponse claire et fiable</b> à votre demande.</p>
                        </div>
                    </div>
                    <div class="row emptyContent">
                        <div class="col-lg-12"></div>
                        <div class="col-lg-12"></div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row emptyContent">
                        <div class="col-lg-12"></div>
                        <div class="col-lg-12"></div>
                    </div>
                    <div class="row fullContent">
                        <div class="col-lg-12"><i class="fas fa-user-graduate fa-5x colorIcon"></i></div>
                        <div class="col-lg-12">
                            <p class="contentConsultMinute">Nous vous recommandons le bon expert
                                et <b>vous choisissez votre créneau de rendez-vous dans son calendrier</b>.</p>
                        </div>
                    </div>
                    <div class="row emptyContent">
                        <div class="col-lg-12"></div>
                        <div class="col-lg-12"></div>
                    </div>
                    <div class="row lastFullContent">
                        <div class="col-lg-12"><i class="fas fa-user-clock fa-5x colorIcon p-2"></i></div>
                        <div class="col-lg-12">
                            <p class="contentConsultMinute"><b>Maîtrisez vos coûts</b> et ne régler que ce que vous avez consommer !
                                Grâce à notre système de <b>crédit-minutes</b>, fini les dépassements de budget !</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}


