{% extends '@SuperComm/Default/base.html.twig' %}

    {% block title %}<title>Nos Experts</title>{% endblock %}


{% block content %}

    <div class="container-fluid">
        <div class="container p-4 d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <div class="col-lg-12 p-md-3">
                    <div class="row">
                        <div class="col-lg-4 boxExpert iconExpert p-4"><i class="far fa-id-card fa-7x"></i></div>
                        <div class="col-lg-8 boxExpert contentExpert">
                            <h3 class="titleExpert">Elodie Cavailles - Experte Référencement</h3>
                            <a class="readMore" target="_blank" href="https://www.linkedin.com/in/cavailleselodiecathalys/"><p class="fontSizeMobile">Profil LinkedIn</p></a>
                            <p class="contentExpert"><i class="fas fa-angle-double-left iconArrow"></i> Consultante depuis sept ans en Web Marketing je propose des services stratégique et opérationnel. Plus particulièrement spécialiste en <b>référencement payant</b>,
                                je maîtrise la création, la gestion et l'analyse pointue de <b>campagnes d'acquisition de trafic qualifié</b> sur toutes les formes de e-supports. <i class="fas fa-angle-double-right iconArrow"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 p-md-3">
                    <div class="row">
                        <div class="col-lg-8 boxExpert contentExpert">
                            <h3 class="titleExpert">Mathilde Gabillet - Experte Stratégie</h3>
                            <a class="readMore" target="_blank" href="https://www.linkedin.com/in/mathilde-vaal/"><p class="fontSizeMobile">Profil LinkedIn</p></a>
                            <p class="contentExpert"><i class="fas fa-angle-double-left iconArrow"></i> Diplômée de l'IAE de Paris-La Sorbonne en marketing/communication, et après avoir évolué au sein de petites entreprises, j'ai décidé de fonder ma propre structure, Melior & Maximus, afin <b>d’aider les entrepreneurs et les startups à se faire connaître</b>.
                                Dotée d'un excellent relationnel et d'un dynamisme sans bornes, j'accompagne mes clients depuis plus de six ans dans <b>la définition et la mise en oeuvre de leur stratégie web marketing</b> et de leur communication digitale. <i class="fas fa-angle-double-right iconArrow"></i></p>

                        </div>
                        <div class="col-lg-4 boxExpert iconExpert p-4"><i class="fas fa-chalkboard-teacher fa-7x"></i></div>
                    </div>
                </div>
                <div class="col-lg-12 p-md-3">
                    <div class="row">
                        <div class="col-lg-4 boxExpert iconExpert p-4"><i class="fas fa-id-card fa-7x"></i></div>
                        <div class="col-lg-8 boxExpert ">
                            <h3 class="titleExpert">Joris Liberati - Expert Développement Web</h3>
                            <a class="readMore" target="_blank" href="https://www.linkedin.com/in/jorislib/"><p class="fontSizeMobile">Profil LinkedIn</p></a>
                            <p class="contentExpert"><i class="fas fa-angle-double-left iconArrow"></i> Aujourd'hui, et depuis janvier 2014, gérant de la société APP in WAVES, société spécialisée dans <b>le développement d'applications pour mobile et de solutions web sur-mesure</b>.<br>
                                Notre mission : <b>aider les entreprises à mener à bien leurs projets innovants</b> lorsque ceux-ci mettent en jeu des technologies du web et du mobile.
                                Installé sur Bordeaux, je me rends régulièrement sur l'île de la Réunion où se situe une part importante de notre activité commerciale. <i class="fas fa-angle-double-right iconArrow"></i></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}