{% extends '@SuperComm/Default/base.html.twig' %}

    {% block title %}<title>Nos Offres</title>{% endblock %}


{% block content %}

    {% for product in products %}

        <div>
            <p>{{ product.title }}</p>
            <img src="{{ product.image }}">
            <p>{{ product.content|raw }}</p>
        </div>

    {% endfor %}

{% endblock %}