.bandeauConsultMinute{
  height: 90px;
  padding: 25px;
}

.BgImgConsultMinute{
  background-image: url("../images/conseilMinute.jpg");
  background-size: cover;
}

.fullContent{
  height: 200px;
  width: 350px;
  text-align: center;
  border-bottom-style: solid;
  border-color: $chartColor;
  border-width: 1px;
}

.lastFullContent{
  height: 200px;
  width: 350px;
  text-align: center;

}


.emptyContent{
  height: 200px;
  width: 350px;

}

.rightBorder{
  border-right: 1px solid #00a8b2;
}

.bigBorder{
  border-style: solid;
  border-color: $chartColor;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
}

.colorIcon{
  color: $chartColor;
}

.contentConsultMinute{
  font-size: 1em;
  color: $greycolor;
}