.boxExpert{
  height: 200px;
  border-bottom: solid;
  border-right: solid;
  border-right-color: $chartColor;
  border-right-width: 1px;
  border-bottom-color: $chartColor;
  border-bottom-width: 1px;
}

.iconExpert{
  text-align: center;
  color: $chartColor;
  align-self: baseline;
}

.contentExpert{
  text-align: justify;
  color: $greycolor;
  font-size: 0.95em;
}

.titleExpert{
  color: $logoColorGreen;
  font-size: 1.3em;
}

.iconArrow{
  color: $chartColor;
}


/* mediaqueries Experts
*/

@media (max-width: 768px) {
  .boxExpert{
    height: auto;
    margin: 10px;
  }

  .titleExpert{
    font-size: 1.2em;
  }

  .iconExpert{
    display: none;
  }

  .fontSizeMobile{
    font-size: 0.9em;
  }

}