.navbar{
  height: 70px;
}
.boutonMenu {
  background-color: $chartColor;
  border-radius: 5px;
  font-size: 0.7em;
  color: white!important;
  margin-right: 10px;
}

.ongletMenu{
  color: $chartColor!important;
  font-size: 0.8em;
}

.logoMenu{
  width: 200px;
}