.AnteMenu {
  background-color: $chartColor;
  padding: 10px;
  text-align: right;
}

.boutonAnteMenu {
  padding: 10px;
  color: white;
  font-size: 0.8em;
}

.boutonMenu {
  background-color: $chartColor;
  border-radius: 5px;
  font-size: 0.7em;
  color: white!important;
}

.iconHome{
  color: $chartColor;
}

.ongletMenu{
  color: $chartColor!important;
  font-size: 0.8em;
}