.boxService{
  text-align: center;
  padding: 20px;
}

.boxService:hover{
  background-color: $chartColor;
}

.titleService{
  color: $logoColorGreen;
}

/** mediaqueries Services
*/

@media (max-width: 768px) {
  .boxService{
    background-color: $chartColor;
    margin-bottom: 10px;
  }

  .boxImg{
    width: 260px;
  }
}





